@tailwind base;
@tailwind components;
@tailwind utilities;

.text-linear-gradient {
  background: -webkit-linear-gradient(rgba(102, 204, 153, 1), rgba(74, 144, 226, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}