@tailwind base;
@tailwind components;
@tailwind utilities;

.text-linear-gradient {
  background: -webkit-linear-gradient(rgba(102, 204, 153, 1), rgba(74, 144, 226, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.absolute-from-grid {
  display: grid;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.clip-rounded {
  clip-path: ellipse(70% 65% at 50% 10%);
}

.container-grid {
  display: grid;
  grid-template-rows: minmax(65px, 8%) minmax(100px, 84%) minmax(70px, 8%);
  height: 100dvh;
}